<mat-tab-group headerPosition="below" mat-stretch-tabs class="stretched-tabs">
  <mat-tab label="Assets">

    <button mat-stroked-button>Basic</button>
    <button mat-stroked-button color="primary">Primary</button>
    <button mat-stroked-button color="accent">Accent</button>
    <button mat-stroked-button color="warn">Warn</button>
    <button mat-stroked-button disabled>Disabled</button>
    <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>

    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>

  </mat-tab>
  <mat-tab label="Profile"> Content 2 </mat-tab>
  <mat-tab label="Signing"> Content 3 </mat-tab>
</mat-tab-group>