<mat-tab-group headerPosition="below" mat-stretch-tabs class="stretched-tabs">
  <mat-tab label="Assets">

    <button mat-stroked-button>Basic</button>
    <button mat-stroked-button color="primary">Primary</button>
    <button mat-stroked-button color="accent">Accent</button>
    <button mat-stroked-button color="warn">Warn</button>
    <button mat-stroked-button disabled>Disabled</button>
    <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>

    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>
    <p>
      There are so much content here.
    </p>

  </mat-tab>
  <mat-tab label="Profile">

    <div *ngIf="identity?.identity" class="margin">

      <div class="list-item">
        <strong>ID</strong>
        <span class="list-item-break">{{identity.identity.entityId}}</span>
      </div>

      <div class="list-item">
        <strong>Owner</strong>
        <span class="list-item-break">{{identity.identity.owner}}</span>
      </div>

      <div class="list-item">
        <strong>Signature</strong>
        <span class="list-item-break">{{identity.identity.signature}}</span>
      </div>

      <div class="list-item">
        <strong>Name</strong>
        <span class="list-item-break">{{identity.identity.document.name}}</span>
      </div>

      <div class="list-item">
        <strong>Short Name</strong>
        <span class="list-item-break">{{identity.identity.document.shortName}}</span>
      </div>

      <div class="list-item">
        <strong>Alias</strong>
        <span class="list-item-break">{{identity.identity.document.alias}}</span>
      </div>

      <div class="list-item">
        <strong>Title</strong>
        <span class="list-item-break">{{identity.identity.document.title}}</span>
      </div>

      <div class="list-item">
        <strong>Email</strong>
        <span class="list-item-break">{{identity.identity.document.email}}</span>
      </div>

    </div>

  </mat-tab>
  <mat-tab label="Signing"> Content 3 </mat-tab>
</mat-tab-group>