// Define the default theme (same as the example above).
$light-app-primary: mat-palette($mat-indigo);
$light-app-accent:  mat-palette($mat-pink, A200, A100, A400);
$light-app-theme:   mat-light-theme((
  color: (
    primary: $light-app-primary,
    accent: $light-app-accent,
  )
));

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn,
  )
));